input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
   border: none;
   height: 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
}

.bothsides {
    display: flex;
    gap: 30px;
    width: 80vw;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 15px;
}

.left {
    width: 40%;
}

.conta {
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
}
    
.lefttext {
    color:hsl(183, 100%, 15%);
}

.contacontainer {
    display: flex;
    align-items: center;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
}

.right {
    width: 40%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 30px;
}