@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
   border: none;
   height: 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
}

.bothsides {
    display: flex;
    gap: 30px;
    width: 80vw;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 15px;
    max-width: 1440px;
}

.left {
    width: 50%;
}

.conta {
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
}
    
.lefttext {
    color:hsl(184, 14%, 56%);
}

.contacontainer {
    display: flex;
    align-items: center;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttoncontainer {
    display: block;
    background-color:hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    height: 40px;
    position: relative;
    width: 30%;
}

.button {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.active {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 30px;
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.righttext {
    color: hsl(189, 41%, 97%);
    font-size: 18px;
}

.rightspan {
    color: hsl(184, 14%, 56%);
    font-size: 15px;
}

.topright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightinput {
    background-color: hsl(183, 100%, 15%);
    color: hsl(172, 67%, 45%);
    font-size: 30px;
    font-weight: bold;
    
}

.reset {
    width: 70%;
    height: 40px;
    background-color:  hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
